.About {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .AboutUp {
        padding-top: 2%;
        display: flex;

        .AboutMe {
            h1 {
                color: white;
                padding-left: 7%;
                padding-right: 8%;
            }

            p {
                padding-left: 7%;
                padding-right: 8%;
                color: white;
                font-size: 1.5em;
            }
        }

        .pictureOfMe {
            width: auto;
            padding-right: 14%;

            img {
                border-radius: 10px 100px / 120px;
                width: auto;
                height: 70%;
                padding-left: 14%;
            }
        }
    }

    .RandomFacts {
        h1 {
            color: white;
        }

        p {
            color: white;
        }
    }
}