.About {
  margin-left: 33.5%;
  .AboutUp {
    .AboutMe {
      h1 {
        font-size: 66px;
        font-family: "Clicker Script", cursive;
        font-weight: 100;
        padding-bottom: 2%;
      }
      p {
        font-family: "Edu SA Beginner", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        padding-bottom: 12%;
        
      }
    }
  }
}
