@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.home {
  padding-left: 13%;
  position: fixed;
  .tags {
    span {
      font-family: "Josefin Sans", cursive;
    }
  }
  h1 {
    text-transform: capitalize;
  }
  p {
  }
  .contactHome {
    padding: 4%;
    background-color: $backGround;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font: inherit;
    // outline: inherit;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
  }
}
