 @import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
 .Home {
    color: white;

    span {
        color: #222221;
        font-size: 30px;
        font-family: 'Fleur De Leah', cursive;

    }

    h1 {
        font-size: 70px;
    }

 }