@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.Home {
    color: white;

    span {
        color: #222221;
        font-size: 30px;
        z-index: -2;
        font-family: 'Ms Madi', cursive;
        display: block;
    }
}