@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");
:root {
  --primary-color: #d96aa7;
  --secondary-color: #422c73;
  --complimentary-color: #88bfb5;
  --contrast-color: #f2e527;
  --light-color: #d2a9d9;
}

.sideBar {
  text-transform: capitalize;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans Buhid", sans-serif;
  padding-top: 4%;

  a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #282828;

    a {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 1rem;
      color: #909096;
      line-height: 1rem;
      border-bottom: 1px solid #282828;
      transition: color 0.3s, background-color 0.3s;
    }
  }

  .social {
    color: #909096;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 20rem;
  }

  .container {
    section {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 0;
      opacity: 0;
      transition: all ease-in 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase;
        opacity: 0;
      }
    }
  }

  section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
  }
}
