$backGround:#2f2f2f3d;
$fontColor: black;

@keyframes fadeIn {
    100% {
        opacity: 1
    }
}

* {
    border: 0;
    margin: 0;

    box-sizing: border-box;

    body {
        background-color: $backGround;
        width: 100%;
        height: 100%;
    }

    .information {
        height: 100%;
        width: 100%;
        background-color: aquamarine;
        padding-left: 8.2%;
        position: fixed;
    }

    @media only screen and (min-width: 10px) and (max-width: 451px) {}

    @media only screen and (min-width:451px) and (max-width:1024px) {}

    @media only screen and (min-width: 1301px) {
        @import "components/SideBar/SideBar";


    }

    @import "components/About/About";
    //         color: black;
    //     }

    //         color: black;
    //         @import "components/SideBar/SideBar";
    //     }

    //         color: black;

    //         @import "components/SideBar/SideBar";
    //     }

}