@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&display=swap");
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  background-color: #444442;
  overflow-x: hidden;
  color: white;
}
@media only screen and (min-width: 10px) and (max-width: 451px) {
  * body .sideBar {
    width: 32%;
    text-transform: capitalize;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Buhid", sans-serif;
    padding-top: 4%;
  }
  * body .sideBar a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  * body .sideBar .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #282828;
  }
  * body .sideBar .navBar a {
    color: #909096;
    border-bottom: 1px solid #282828;
  }
  * body .sideBar .social {
    height: 20rem;
  }
  * body .sideBar .social a img {
    padding-top: 14%;
    width: 20%;
    height: auto;
  }
  * body .home {
    margin-left: 33.5%;
  }
  * body .home .tags span {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6d6d72;
  }
  * body .home .myName {
    font-size: 52px;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
  }
  * body .home .contactHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  * body .home .contactHome .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13px 0px;
    width: 240px;
  }
  * body .home .contactHome .container .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  * body .home .contactHome .container .btn:hover {
    text-decoration: none;
  }
  * body .home .contactHome .container .effect04 {
    display: inline-flex;
    color: #000;
    outline: solid 2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  * body .home .contactHome .container .effect04::before,
  * body .home .contactHome .container .effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
  }
  * body .home .contactHome .container .effect04:hover {
    background-color: #000;
  }
  * body .home .contactHome .container .effect04:hover span {
    transform: translateY(-400%) scale(-0.1, 20);
  }
  * body .home .contactHome .container .effect04::before {
    content: attr(data-sm-link-text);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(500%) scale(-0.1, 20);
  }
  * body .home .contactHome .container .effect04:hover::before {
    letter-spacing: 0.05em;
    transform: translateY(0) scale(1, 1);
  }
  * body .About {
    margin-left: 33.5%;
  }
  * body .About .AboutUp .AboutMe h1 {
    font-size: 66px;
    font-family: "Clicker Script", cursive;
    font-weight: 100;
    padding-bottom: 2%;
  }
  * body .About .AboutUp .AboutMe p {
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 12%;
  }
  * body .mySkills {
    padding-left: 33.2%;
  }
  * body .mySkills h1::first-letter {
    font-size: 66px;
    font-family: "Clicker Script", cursive;
    font-weight: 100;
    padding-bottom: 2%;
  }
  * body .mySkills p {
    padding-bottom: 7%;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 12%;
  }
  * body .mySkills p a {
    color: blue;
    text-decoration: none;
  }
  * body .work {
    padding-left: 37.2%;
  }
  * body .work .project {
    width: 100%;
    height: auto;
    padding-bottom: 4%;
  }
  * body .work .project .container {
    padding-top: 10%;
    text-align: center;
  }
  * body .work .project .container .singleProject {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
    background: #686866;
  }
  * body .work .project .container .singleProject img {
    width: 88%;
    height: auto;
  }
  * body .work .project .container .singleProject a {
    text-decoration: none;
  }
  * body .work .project .container .singleProject .text h1 {
    color: black;
    text-transform: capitalize;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 4%;
  }
  * body .Contact {
    margin-left: 33.5%;
  }
  * body .Contact .container {
    width: 79%;
  }
  * body .Contact .container h1 {
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container h4 {
    font-weight: 400;
    font-size: 17px;
    color: #9b9b9b;
    line-height: 1.5;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container .styled-input.wide {
    max-width: 100%;
  }
  * body .Contact .container input:focus ~ label,
  * body .Contact .container textarea:focus ~ label,
  * body .Contact .container input:valid ~ label,
  * body .Contact .container textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
  }
  * body .Contact .container textarea {
    min-height: 15em;
  }
  * body .Contact .input-container {
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  * body .Contact .row .submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
  }
  * body .Contact .row .styled-input {
    float: left;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  * body .Contact .row .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  * body input,
  * body textarea {
    padding: 30px;
    border: 0;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  * body input:focus,
  * body textarea:focus {
    outline: 0;
  }
  * body input:focus ~ span,
  * body textarea:focus ~ span {
    width: 100%;
    transition: all 0.075s ease;
  }
  * body .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  * body input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  }
  * body input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  * body .sideBar {
    width: 19%;
    text-transform: capitalize;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Buhid", sans-serif;
    padding-top: 4%;
  }
  * body .sideBar a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  * body .sideBar .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #282828;
  }
  * body .sideBar .navBar a {
    color: #909096;
    border-bottom: 1px solid #282828;
  }
  * body .sideBar .social {
    height: 20rem;
  }
  * body .sideBar .social a img {
    padding-top: 14%;
    width: 20%;
    height: auto;
  }
  * body .home {
    margin-left: 21%;
  }
  * body .home .tags span {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6d6d72;
  }
  * body .home .myName {
    font-size: 52px;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
  }
  * body .home .contactHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  * body .home .contactHome .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13px 0px;
    width: 240px;
  }
  * body .home .contactHome .container .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  * body .home .contactHome .container .btn:hover {
    text-decoration: none;
  }
  * body .home .contactHome .container .effect04 {
    display: inline-flex;
    color: #000;
    outline: solid 2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  * body .home .contactHome .container .effect04::before,
  * body .home .contactHome .container .effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
  }
  * body .home .contactHome .container .effect04:hover {
    background-color: #000;
  }
  * body .home .contactHome .container .effect04:hover span {
    transform: translateY(-400%) scale(-0.1, 20);
  }
  * body .home .contactHome .container .effect04::before {
    content: attr(data-sm-link-text);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(500%) scale(-0.1, 20);
  }
  * body .home .contactHome .container .effect04:hover::before {
    letter-spacing: 0.05em;
    transform: translateY(0) scale(1, 1);
  }
  * body .About {
    margin-left: 21.5%;
  }
  * body .About .AboutUp .AboutMe h1 {
    font-size: 66px;
    font-family: "Clicker Script", cursive;
    font-weight: 100;
    padding-bottom: 1%;
  }
  * body .About .AboutUp .AboutMe p {
    font-size: 20.1px;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 11%;
    padding-right: 2%;
  }
  * body .work {
    padding-left: 7%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20%;
  }
  * body .work .project {
    width: 100%;
    height: auto;
    padding-bottom: 4%;
  }
  * body .work .project .container {
    padding-top: 10%;
    text-align: center;
  }
  * body .work .project .container .singleProject {
    width: 222px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
    background: #686866;
  }
  * body .work .project .container .singleProject img {
    width: 88%;
    height: auto;
  }
  * body .work .project .container .singleProject a {
    text-decoration: none;
  }
  * body .work .project .container .singleProject .text h1 {
    color: black;
    text-transform: capitalize;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 4%;
  }
  * body .Contact {
    padding-left: 20%;
  }
  * body .Contact .container {
    width: 96%;
  }
  * body .Contact .container h1 {
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container h4 {
    font-weight: 400;
    font-size: 17px;
    color: #9b9b9b;
    line-height: 1.5;
    padding: 0 25% 0 25%;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  * body .Contact .container input:focus ~ label,
  * body .Contact .container textarea:focus ~ label,
  * body .Contact .container input:valid ~ label,
  * body .Contact .container textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
  }
  * body .Contact .container textarea {
    width: 100%;
    min-height: 15em;
  }
  * body .Contact .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  * body .Contact .row .submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
  }
  * body .Contact .row .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  * body .Contact .row .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) and (max-width: 768px) {
  * body .styled-input {
    width: 100%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  * body input,
  * body textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  * body input:focus,
  * body textarea:focus {
    outline: 0;
  }
  * body input:focus ~ span,
  * body textarea:focus ~ span {
    width: 100%;
    transition: all 0.075s ease;
  }
  * body .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  * body input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  }
  * body input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  }
}
@media only screen and (min-width: 1024px) {
  * body .sideBar {
    width: 19%;
    text-transform: capitalize;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Buhid", sans-serif;
    padding-top: 4%;
  }
  * body .sideBar a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  * body .sideBar .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #282828;
  }
  * body .sideBar .navBar a {
    color: #909096;
    border-bottom: 1px solid #282828;
  }
  * body .sideBar .social {
    height: 20rem;
  }
  * body .sideBar .social a img {
    padding-top: 14%;
    padding-left: 4%;
    width: 26%;
    height: auto;
  }
  * body .home {
    margin-left: 21%;
  }
  * body .home .tags span {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6d6d72;
  }
  * body .home .myName {
    font-size: 52px;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
  }
  * body .home .contactHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  * body .home .contactHome .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13px 0px;
    width: 240px;
  }
  * body .home .contactHome .container .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  * body .home .contactHome .container .btn:hover {
    text-decoration: none;
  }
  * body .home .contactHome .container .effect04 {
    display: inline-flex;
    color: #000;
    outline: solid 2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  * body .home .contactHome .container .effect04::before,
  * body .home .contactHome .container .effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
  }
  * body .home .contactHome .container .effect04:hover {
    background-color: #000;
  }
  * body .home .contactHome .container .effect04:hover span {
    transform: translateY(-400%) scale(-0.1, 20);
  }
  * body .home .contactHome .container .effect04::before {
    content: attr(data-sm-link-text);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(500%) scale(-0.1, 20);
  }
  * body .home .contactHome .container .effect04:hover::before {
    letter-spacing: 0.05em;
    transform: translateY(0) scale(1, 1);
  }
  * body .About {
    margin-left: 21.5%;
  }
  * body .About .AboutUp .AboutMe h1 {
    font-size: 66px;
    font-family: "Clicker Script", cursive;
    font-weight: 100;
    padding-bottom: 1%;
  }
  * body .About .AboutUp .AboutMe p {
    font-size: 27.1px;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 8%;
    padding-right: 2%;
  }
  * body .work {
    padding-left: 20%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20% 20%;
  }
  * body .work .project {
    width: 100%;
    height: auto;
    padding-bottom: 4%;
  }
  * body .work .project .container {
    padding-top: 10%;
    text-align: center;
  }
  * body .work .project .container .singleProject {
    width: 222px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
    background: #686866;
  }
  * body .work .project .container .singleProject img {
    width: 88%;
    height: auto;
  }
  * body .work .project .container .singleProject a {
    text-decoration: none;
  }
  * body .work .project .container .singleProject .text h1 {
    color: black;
    text-transform: capitalize;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 4%;
  }
  * body .Contact .container h1 {
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container h4 {
    font-weight: 400;
    font-size: 17px;
    color: #9b9b9b;
    line-height: 1.5;
    padding: 0 25% 0 25%;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  * body .Contact .container input:focus ~ label,
  * body .Contact .container textarea:focus ~ label,
  * body .Contact .container input:valid ~ label,
  * body .Contact .container textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
  }
  * body .Contact .container textarea {
    width: 100%;
    min-height: 15em;
  }
  * body .Contact .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  * body .Contact .row .submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
  }
  * body .Contact .row .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  * body .Contact .row .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 768px) {
  * body .styled-input {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  * body input,
  * body textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  * body input:focus,
  * body textarea:focus {
    outline: 0;
  }
  * body input:focus ~ span,
  * body textarea:focus ~ span {
    width: 100%;
    transition: all 0.075s ease;
  }
  * body .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  * body input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  }
  * body input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  }
}/*# sourceMappingURL=App.css.map */