@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  background-color: #444442;
  overflow-x: hidden;
  color: white;
}
@media only screen and (min-width: 10px) and (max-width: 451px) {
  * body {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");
  }
  * body .sideBar {
    width: 32%;
    text-transform: capitalize;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Buhid", sans-serif;
    padding-top: 4%;
  }
  * body .sideBar a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  * body .sideBar .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #282828;
  }
  * body .sideBar .navBar a {
    color: #909096;
    border-bottom: 1px solid #282828;
  }
  * body .sideBar .social {
    height: 20rem;
  }
  * body .sideBar .social a img {
    padding-top: 14%;
    width: 20%;
    height: auto;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  * body {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
  }
  * body .sideBar {
    width: 12%;
    text-transform: capitalize;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Buhid", sans-serif;
    padding-top: 4%;
  }
  * body .sideBar .hamburger-lines,
  * body .sideBar .checkbox {
    display: none;
  }
  * body .sideBar a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  * body .sideBar .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #282828;
  }
  * body .sideBar .navBar a {
    color: #909096;
    border-bottom: 1px solid #282828;
  }
  * body .sideBar .social {
    height: 20rem;
  }
  * body .sideBar .social a img {
    padding-top: 14%;
    width: 21%;
    height: auto;
  }
  * body .Contact .container h1 {
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container h4 {
    font-weight: 400;
    font-size: 17px;
    color: #9b9b9b;
    line-height: 1.5;
    padding: 0 25% 0 25%;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  * body .Contact .container input:focus ~ label,
  * body .Contact .container textarea:focus ~ label,
  * body .Contact .container input:valid ~ label,
  * body .Contact .container textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
  }
  * body .Contact .container textarea {
    width: 100%;
    min-height: 15em;
  }
  * body .Contact .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  * body .Contact .row .submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
  }
  * body .Contact .row .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  * body .Contact .row .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) and (max-width: 768px) {
  * body .styled-input {
    width: 100%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  * body input,
  * body textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  * body input:focus,
  * body textarea:focus {
    outline: 0;
  }
  * body input:focus ~ span,
  * body textarea:focus ~ span {
    width: 100%;
    transition: all 0.075s ease;
  }
  * body .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  * body input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  }
  * body input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  }
}
@media only screen and (min-width: 1024px) {
  * body {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
    @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
  }
  * body .sideBar {
    width: 12%;
    text-transform: capitalize;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Buhid", sans-serif;
    padding-top: 4%;
  }
  * body .sideBar .hamburger-lines,
  * body .sideBar .checkbox {
    display: none;
  }
  * body .sideBar a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  * body .sideBar .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #282828;
  }
  * body .sideBar .navBar a {
    color: #909096;
    border-bottom: 1px solid #282828;
  }
  * body .sideBar .social {
    height: 20rem;
  }
  * body .sideBar .social a img {
    padding-top: 14%;
    width: 21%;
    height: auto;
  }
  * body .home {
    padding-left: 13%;
    position: fixed;
  }
  * body .home .tags span {
    font-family: "Josefin Sans", cursive;
  }
  * body .home h1 {
    text-transform: capitalize;
  }
  * body .home .contactHome {
    padding: 4%;
    background-color: #444442;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font: inherit;
  }
  * body .home .contactHome a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  * body .Contact .container h1 {
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container h4 {
    font-weight: 400;
    font-size: 17px;
    color: #9b9b9b;
    line-height: 1.5;
    padding: 0 25% 0 25%;
    font-family: "Indie Flower", cursive;
  }
  * body .Contact .container .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  * body .Contact .container input:focus ~ label,
  * body .Contact .container textarea:focus ~ label,
  * body .Contact .container input:valid ~ label,
  * body .Contact .container textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
  }
  * body .Contact .container textarea {
    width: 100%;
    min-height: 15em;
  }
  * body .Contact .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  * body .Contact .row .submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
  }
  * body .Contact .row .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  * body .Contact .row .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 768px) {
  * body .styled-input {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  * body input,
  * body textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  * body input:focus,
  * body textarea:focus {
    outline: 0;
  }
  * body input:focus ~ span,
  * body textarea:focus ~ span {
    width: 100%;
    transition: all 0.075s ease;
  }
  * body .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  * body input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  }
  * body input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  }
}/*# sourceMappingURL=App.css.map */