    $backGround:#2f2f2f3d;


    @mixin FlexAll {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    * {
        border: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: $backGround;

    }

    @media only screen and (min-device-width: 10px) and (max-device-width: 496px) {



        .Projects {
            img {
                width: 89%;
                height: auto;
                margin: 21px;
                border-radius: 44px;
            }

            h1 {
                text-align: center;
            }

        }

        .Footer {
            bottom: 0;
            left: 0;
            position: fixed;
            margin: 0 0 9px 13px;

            a {
                @include FlexAll();

                img {
                    width: 50px;
                    height: 50px;
                }
            }


        }

    }